server:
    port: 8080

spring:
  application:
    name: user-service
  profiles:
    active: dev
  cache:
    type: caffeine

product:
  service:
    url: http://localhost:8081

management:
    endpoints:
        web:
            exposure:
                include: health,info,metrics,prometheus
    endpoint:
        health:
            show-details: always
    metrics:
        enable:
            cache: true

resilience4j:
  circuitbreaker:
    instances:
      productService:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
  retry:
    instances:
      productService:
        maxAttempts: 3
        waitDuration: 2s
  timelimiter:
    instances:
      productService:
         timeoutDuration: 3s
		 cancelRunningFuture: true

logging:
    level:
        root: INFO